<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      
    </style>
</head>
<body>
    <!-- 
   
     -->
    <div id="app">
       <div>
           <input type="text" placeholder="随意输入" v-model=keyWord>
           <ul>
               <li v-for="p in filPerons" :key="p.id" > {{p.name}}--{{p.age}} </li>
           </ul>
       </div>
    </div>
    <script>
        const app = {
            data(){
                return {
                    keyWord:"",
                    persons:[
                        {id:"001",name:"马冬梅",age:19},
                        {id:"002",name:"周冬雨",age:20},
                        {id:"003",name:"周杰伦",age:21},
                        {id:"004",name:"温兆伦",age:22}
                    ]
                }
            },
            computed: {
                filPerons(){
                    return this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1;
                    })
                }
            },
        }
        Vue.createApp(app).mount("#app");
        
    </script>
</body>
</html>